article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  width: 100%;
  height: 100vh;
  color: white;
}

.wrapper-main-content {
  max-width: 1280px;
  width: 90%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  padding-left: 5px;
}

h1 {
  font-size: 125%;
  font: normal 60px/1 "Monoton", Helvetica, sans-serif;
  display: block;
  width: auto;
  height: auto;
  opacity: 1;
  overflow: visible;
  border: none;
  border-radius: 0;
  color: white;
  text-align: center;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #ff1177, 0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
}

.content-left p {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.content-left {
  width: 40%;
  height: auto;
}

.deck-container {
  width: 56%;
}

.deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card {
  height: auto;
  width: 10rem;
  border: 1px solid white;
  width: 22%;
  margin: 10px 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
}

.card:focus {
  border: 5px dotted yellow;
}

li.card:active,
li.card:hover {
  background-color: #ff1177;
  color: white;
}

.match {
  visibility: hidden;
}

.shake {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.clicked {
  background-color: #ff1177;
}

.button {
  width: 205px;
  height: 50px;
  display: block;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  border: none;
  text-align: center;
  color: white;
  margin: 0 auto;
  position: relative;
}

.play-again {
  position: relative;
}

#reset-button {
  background: #ff1177;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 15px #fff;
          box-shadow: 0 0 15px #fff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

#reset-button:active {
  background: mediumvioletred;
  -webkit-box-shadow: 0 0 5px #fff;
          box-shadow: 0 0 5px #fff;
}

@media (max-width: 801px) {
  .content-left {
    width: initial;
  }
  .wrapper-main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 1px;
        flex-basis: 1px;
  }
  h1, p {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .deck-container {
    height: 100vh;
    width: auto;
  }
  ul.deck {
    height: 59%;
    width: 95%;
  }
}

@media (max-width: 600px) {
  .deck-container {
    height: 100vh;
    width: 80vw;
  }
  .deck {
    height: 60%;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .deck-container {
    height: 100vh;
    width: 85vw;
  }
  ul.deck {
    height: 60%;
    width: 90%;
    margin: 0 auto;
    padding-top: 25px;
  }
  .card {
    width: 25%;
  }
}

@media (max-width: 420px) {
  p {
    display: none;
  }
}

@media (max-width: 320px) {
  .wrapper-main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .deck-container {
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  ul.deck {
    height: 50%;
    width: 100%;
  }
  .content-left {
    width: initial;
  }
}
/*# sourceMappingURL=style.css.map */